---
id: bfbd143a-44c5-4acf-88df-43ca94fe6469
name: OTP Verification
type: command
executor: bash
data: "{\n    \"otp\":[\n        \"1234\",\n        \"1111\",\n        \"1337\", //\
  \ GOOD OTP\n        \"2222\",\n        \"3333\",\n        \"4444\",\n        \"\
  5555\"\n    ]\n}"
output: null
created_at: '2023-04-06T03:55:53.981102+00:00'
updated_at: '2023-04-06T03:55:53.987827+00:00'
---

# OTP Verification

```bash
{
    "otp":[
        "1234",
        "1111",
        "1337", // GOOD OTP
        "2222",
        "3333",
        "4444",
        "5555"
    ]
}
```
